<div class='container col-md-12'>
    <div class='card card-body'>
        <h3 class='text-center'>View Tasks</h3>
        <table border="2px">
            <thead class='bg-light color-white'>
                    <th colspan="3" class='text-center'>Tasks</th>
             </thead> 
             <tbody>
                 <tr>
                    <td></td>
                    <td><button class='btn btn-outline-danger' (click)=deleteData(data)>Delete</button></td>
                    <td><button class='btn btn-outline-warning' (click)=updateData(data)>Edit</button></td>
                 </tr>
             </tbody>
        </table>
